<div class="container">
    <div class="about-contents" style="margin-top: 2em">
        <div class="col s12 m6 wow slideInLeft">
           <img src="/img/logo_reg.png" alt="Endpoint Logo" class="responsive-img" style="display:block;">
        </div>
        <div class="col s12 m6 wow slideInLeft">
            <h1 style='text-align:right;'>ABOUT THE EVENT</h1>
            <p style='text-align:right;'>
                IM Summit is Ateneo Management Information Systems Association’s newest event - an integration of business and IT business
                case competition with talks, workshops and a business case competition. Co-presented by Procter & Gamble
                this year, the project aims to introduce business and I.T oriented undergraduates to a real-life business
                problem wherein individuals would use their experience and creativity to develop innovative ways on how to
                make business processes more efficient.
            </p>
        </div>
        <div class="col s12 m7 wow slideInRight">
            <h1 style='text-align:left;'>ABOUT THE ORGANIZER</h1>
            <p style='text-align:left;'>
                The Ateneo Management Information Systems (MISA) is the Loyola School’s premiere Information Management organization. It
                serves as the home organization of MIS majors and like-minded IT enthusiasts. Founded in 1994, it is now
                on it’s 24th year of pursuing its main advocacy: social transformation through information management.
            </p>
        </div>
        <div class="col s12 m5 wow slideInRight">
             <img src="/img/misa.png" alt="MISA Logo" class="responsive-img" style="display:block;">
        </div>
        <div class="col s12 m6 wow slideInLeft">
           <img src="/img/p&g.png" alt="P&G Logo" class="responsive-img" style="display:block;height:200px;margin:auto; margin-top:5em">
        </div>
        <div class="col s12 m6 wow slideInLeft">
            <h1 style='text-align:right;'>ABOUT THE CO-PRESENTER</h1>
            <p style='text-align:right;'>
                P&amp;G’s unique organizational structure offers the global scale benefits of an international company and the local focus to be relevant for consumers in roughly 180 countries where their brands are sold.  Its corporate structure provides the framework that allows us to tap the benefits of a global organization with speed and efficiency. Their local operations keep them in touch with their local communities. And the company’s strong governance practices ensure that they conduct their operations with consistently high standards and integrity.
            </p>
        </div>
    </div>
</div>