<div class="container">
    <div class="about-contents" style="margin-top: 2em">
        <div class="col s12 m6 wow slideInLeft">
           <img src="/img/logo_reg.png" alt="Endpoint Logo" class="responsive-img" style="display:block;">
        </div>
        <div class="col s12 m6 wow slideInLeft">
            <h1 style='text-align:right;'>ABOUT THE EVENT</h1>
            <p style='text-align:right;'>
                IM Summit is a two-day conference/business case competition that brings both business and IT together to create real value. With a 35,000 peso prize pool at stake, participants put their experience and creativity to the test to solve a real-life business problem. Open to all majors, not just business and IT majors.
            </p>
        </div>
        <div class="col s12 m7 wow slideInRight">
            <h1 style='text-align:left;'>ABOUT THE ORGANIZER</h1>
            <p style='text-align:left;'>
                The Ateneo Management Information Systems (MISA) is the Loyola School’s premiere Information Management organization. It serves as the home organization of MIS majors and like-minded IT enthusiasts. Founded in 1997, it is now on it’s 20th year of pursuing its main advocacy: social transformation through information management.
            </p>
        </div>
        <div class="col s12 m5 wow slideInRight">
             <img src="/img/MISA.png" alt="MISA Logo" class="responsive-img" style="display:block;">
        </div>
        <div class="col s12 m6 wow slideInLeft">
           <img src="/img/p&g.png" alt="P&G Logo" class="responsive-img" style="display:block;height:200px;margin:auto; margin-top:5em">
        </div>
        <div class="col s12 m6 wow slideInLeft">
            <h1 style='text-align:right;'>ABOUT THE CO-PRESENTER</h1>
            <p style='text-align:right;'>
                P&amp;G is a multinational corporation responsible for global brands like Tide, Safeguard and Head & Shoulders. Their unique organizational structure offers the global scale benefits of an international company and the local focus to be relevant for consumers in roughly 180 countries where their brands are sold. The company’s strong governance practices ensure that they conduct their operations with consistently high standards and integrity.
            </p>
        </div>
    </div>
</div>