<div class="col s12 m6">
    <img src="/img/misa.png" alt="MISA Logo" class="responsive-img">
    <img src="/img/logo.png" alt="IM Summit Logo" class="responsive-img">
</div>
<div class="col s12 m6">
    <h1 style='text-align:right;'>ABOUT US</h1>
    <p style='text-align:right;'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui et distinctio iste earum ad unde odit repellendus. Libero unde hic deserunt sapiente provident nobis reprehenderit. Sunt earum delectus asperiores esse natus, odio corporis magnam amet modi tempora labore veniam cupiditate voluptas. Exercitationem, neque sint ab tempore hic rerum explicabo! Sed quas neque, eum quibusdam quis pariatur. Quis ipsum aut adipisci provident earum ducimus repellendus quia commodi porro at. Modi labore quae nesciunt praesentium ab libero assumenda earum, rerum ipsum, dolore soluta cum necessitatibus accusamus repellat explicabo corrupti officia illum voluptatem? Dolorem harum nostrum recusandae nobis nulla voluptatum neque molestias quae?</p>
</div>