<div class="about-contents">
    <div class="col s12 m6">
        <div class="row">
            <div class="col s12">
                <img src="/img/misa.png" alt="MISA Logo" class="responsive-img" style="display:block;">
            </div>
            <div class="col s12">
                <img src="/img/logo.png" alt="IM Summit Logo" class="responsive-img" style="display:block;">
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <h1 style='text-align:right;'>ABOUT US</h1>
        <p style='text-align:right;'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui et distinctio iste earum ad unde odit repellendus.
            Libero unde hic deserunt sapiente provident nobis reprehenderit. Sunt earum delectus asperiores esse natus, odio
            corporis magnam amet modi tempora labore veniam cupiditate voluptas.</p>
    </div>
</div>