<div class="container">
    <div class="about-contents" style="margin-top: 2em">
        <div class="col s12 m6 wow slideInLeft">
           <img src="/img/logo_reg.png" alt="Endpoint Logo" class="responsive-img" style="display:block;">
        </div>
        <div class="col s12 m6 wow slideInLeft">
            <h1 style='text-align:right;'>ABOUT THE EVENT</h1>
            <p style='text-align:right;'>
                IM Summit is Ateneo Management Information Systems Association’s newest event - an integration of business and IT business
                case competition with talks, workshops and a business case competition. Co-presented by Procter & Gamble
                this year, the project aims to introduce business and I.T oriented undergraduates to a real-life business
                problem wherein individuals would use their experience and creativity to develop innovative ways on how to
                make business processes more efficient.
            </p>
        </div>
        <div class="col s12 m7 wow slideInRight">
            <h1 style='text-align:left;'>ABOUT THE ORGANIZER</h1>
            <p style='text-align:left;'>
                The Ateneo Management Information Systems (MISA) is the Loyola School’s premiere Information Management organization. It
                serves as the home organization of MIS majors and like-minded IT enthusiasts. Founded in 1994, it is now
                on it’s 24th year of pursuing its main advocacy: social transformation through information management.
            </p>
        </div>
        <div class="col s12 m5 wow slideInRight">
             <img src="/img/misa.png" alt="MISA Logo" class="responsive-img" style="display:block;">
        </div>
    </div>
</div>