<div class="container">
    <div class="col s12 m6 wow fadeInLeft">
        <h4>FAQs</h4>
        <hr>
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">group</i>Who can join IM Summit?</div>
                <div class="collapsible-body">
                    <p>IM Summit is open to undergraduate students of all universities within the metropolitan area.
                        <b>You don’t have to be an IT major to apply!</b> Prior knowledge in IT is not required.</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">place</i>Where will the event take place?</div>
                <div class="collapsible-body">
                    <p>Eduardo J. Aboitiz Sandbox Zone, 3rd Floor George SK Ty Learning Innovation Wing, Areté, Ateneo de Manila
                        University
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">mic</i>Do I have to attend the talks to compete in the competition?</div>
                <div class="collapsible-body">
                    <p>Yes. At least half of your group should be present in the talks in order to compete in the competition.
                        Should your members be not available during the talks due to a valid reason, please send an email
                        to misaimsummit@gmail.com.</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">question_answer</i>Do I have to join the competition to attend the talks?</div>
                <div class="collapsible-body">
                    <p>Yes. In order to join the competition, you must be in a team of only 3-5 members. Solo contest participants
                        will not be accepted.</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">person</i>Is the pitching competition done individually or by group?</div>
                <div class="collapsible-body">
                    <p>The pitching competition will be done in groups of 3-5 per team.</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">whatshot</i>Should I bring my own food?</div>
                <div class="collapsible-body">
                    <p>You can bring your own snacks, but lunch and snacks will be provided. If any of your members have any
                        dietary concerns, please send us an e-mail indicating your team name to misaimsummit@gmail.com</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">monetization_on</i>What does the fee include?</div>
                <div class="collapsible-body">
                    <p>The fee includes your food and kit for the event.</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">hotel</i>Will there be overnight housing?</div>
                <div class="collapsible-body">
                    <p>We will not provide overnight housing since the event ends at 7:00PM on the first day. However, should
                        your group wish to stay overnight to solve the business case, we will be conducting partnerships
                        with working hub establishments around Katipunan for your convenience, so stay tuned!</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="col s12 m6 wow fadeInRight">
        <iframe width="100%" height="450" frameborder="0" style="border:0; padding-top:4em;" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJd7og8H63lzMRbXXTttNDnC0&key=AIzaSyDHRR1SIhgDe4SZVwCEIKgRuoScySVq6Yg"
            allowfullscreen></iframe>
    </div>
</div>
<div class="col s12" style='text-align:center;color:white;padding:1em 0em 0em 0em;background-color:#3d5c5c;'>
    <h5>Contact Us:</h5>
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <a href="mailto:misaimsummit@gmail.com" style="color:white;">
                    <i class="fas fa-envelope fa-2x"></i>
                    <br>misaimsummit@gmail.com</a>
            </div>
            <div class="col s12 m4 push-m4">
                <a href="https://facebook.com/imsummit2018" target="_blank" style="color:white;">
                    <i class="fab fa-facebook fa-2x"></i>
                    <br>IM Summit: Endpoint</a>
            </div>
            <div class="col s12 m4 pull-m4">
                <a href="http://misa.org.ph" target="_blank" style="color:white;">
                    <img src="/img/misa_min.png" class="wow rotateIn" alt="MISA Logo" height="40px">
                    <p style="margin:0px;">Developed by: Ateneo MISA</p>
                </a>
            </div>
        </div>
    </div>
</div>