<div class="container">
    <div class="col s12 m6">
        <h4>FAQs</h4>
        <hr>
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">filter_drama</i>First</div>
                <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">place</i>Second</div>
                <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="col s12 m6">
        <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJd7og8H63lzMRbXXTttNDnC0&key=AIzaSyDHRR1SIhgDe4SZVwCEIKgRuoScySVq6Yg"
            allowfullscreen></iframe>
    </div>
</div>