<div class="col s12 m12">
    <h1>IMPORTANT DATES</h1>
    <hr>
    <h4>IM TALKS</h4>
    <p>Lorem Ipsum | February 30, 2018 | CTC 313</p>
    <p>Lorem Ipsum | February 30, 2018 | CTC 313</p>
    <p>Lorem Ipsum | February 30, 2018 | CTC 313</p>
    <h4>EARLY BIRD REGISTRATION</h4>
    <p>February 30, 2018 - February 30, 2018</p>
    <h4>REGULAR REGISTRATION</h4>
    <p>February 30, 2018 - February 30, 2018</p>
</div>
