<div class="container">
    <div class="col s12 m12">
        <h1 class="wow fadeInDown">IMPORTANT DATES</h1>
        <hr>
        <div class="wow bounceInLeft">
            <h6>EARLY BIRD REGISTRATION</h6>
            <p>February 7, 2018 - February 18, 2018 <br> February 18, 2018: Payment Deadline for Early Bird Registration</p>
        </div>
        <div class="wow bounceInRight">
            <h6>REGULAR REGISTRATION</h6>
            <p>February 19, 2018 - March 5, 2018 <br> March 7, 2018: Payment Deadline for Regular Registration</p>
        </div>
        <div class="wow fadeInLeftBig">
            <h6>Release of Teams</h6>
            <p>March 14, 2018</p>
            <h6>IM Summit: Endpoint</h6>
            <p>March 17 - Talks and Workshops<br>
            March 18 - Pitching Competition</p>
        </div>
    </div>
</div>