<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>IM Summit 2018 | Ateneo MISA</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col m6 s12" id="content">

            </div>
            <div class="col m6 s12" id="text">
                <div class="container">
                    <h1>Register</h1>
                    <p>Open to <b>all college students</b><br>
                    <span class="blue-text">JOIN NOW</span>, it takes less than a minute.</p>
                    <form action="/" method="post" id="form">
                        <div class="input-field">
                            <input type="text" name="Team Leader" id="team_leader">
                            <label for="team_leader">Team Leader:</label>
                        </div>
                        <div class="input-field">
                            <input type="text" name="Team Name" id="team_name">
                            <label for="team_name">Team Name:</label>
                        </div>
                        <div class="input-field">
                            <input type="text" name="Phone Number" id="phone" maxlength="11">
                            <label for="phone">Phone Number:</label>
                        </div>
                        <div class="input-field">
                            <input type="email" name="Email Address" id="email">
                            <label for="email">Email Address:</label>
                        </div>
                        <div class="input-field">
                            <input type="text" name="Year &amp; Course" id="year_course">
                            <label for="year_course">Year &amp; Course:</label>
                        </div>
                        <div class="input-field">
                            <input type="text" name="University" id="university">
                            <label for="university">University:</label>
                        </div>
                        <p>
                            <input type="checkbox" name="Terms and Conditions" id="terms">
                            <label for="terms">I accept the terms and conditions and privacy policy.</label>
                        </p>
                        <div class="input-field"></div>
                        <div class="row">
                            <div class="col s3 offset-s9">
                                <input type="button" value="Submit" class="btn red" id="submit">
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="/js/application.js"></script>
</body>
</html>