<center>
    <div class="container">
        <h1 class="wow tada">Prizes</h1>
        <hr>
        <h5 class="wow fadeInUpBig">Grand Prize</h5>
        <p class="wow fadeInUpBig">P 20,000</p>
        <h5 class="wow fadeInUpBig">Second Place</h5>
        <p class="wow fadeInUpBig">P 10,000</p>
        <h5 class="wow fadeInUpBig">Third Place</h5>
        <p class="wow fadeInUpBig">P 5,000</p>
    </div>
</center>