<!-- Modal Structure -->
<div id="terms_modal" class="modal">
<div class="modal-content">
    <h4>Terms and Conditions</h4>
    <p><b>Statement 1:</b> I am giving my full consent to the sharing of my personal information with Ateneo MISA for my personnel records.</p>
    <p><b>Statement 2:</b> I am giving my full consent to the sharing of my personal information with Ateneo MISA and its respective office/s or committee/s that will be tasked to, (1) create the organization’s applicant database; (2) communicate with members during situations of emergency or disaster, i.e., fire, earthquake, flood, typhoon, other calamities; (3) report data requirements for accreditation purposes and for studies or surveys for improving services provided to the members and, (4) announce organization activities through email and SMS messages.</p>
    <p>Ateneo MISA assure all its applicants of the confidentiality of their personal information, and that the sharing or use of which shall be limited to any or all of the two (2) purposes stated above with the applicant's consent.</p>
</div>
<div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
</div>
</div>

<div id="error_modal" class="modal">
<div class="modal-content">
    <h4>Form Validation Error</h4>
    <p>Please make sure that all fields are filled up and there are no whitespaces at the front. Please use a valid email address and make sure that the mobile number starts with 09 and is 11 characters. Please read the terms and conditions and agree to them in order for your registration to be submitted to Ateneo MISA.</p>
</div>
<div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
</div>
</div>

<div id="success_modal" class="modal">
<div class="modal-content">
    <h4>You Have Successfuly Registered</h4>
    <p>Thank you for registering for IM Summit: Endpoint!</p>
    <p>Our core team members will soon get in touch with you through the email you have provided for the payment details.</p>
    <p>For further inquiries or questions, please feel free to contact any of the following:</p>
    <p>Email: misaimsummit@gmail.com</p>
    <p>Luigi Reyes: 09778608008</p>
    <p>Justine Tan: 09778721030</p>
</p>
</div>
<div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
</div>
</div>