<!-- Modal Structure -->
<div id="terms_modal" class="modal">
<div class="modal-content">
    <h4>Terms and Conditions</h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo similique a iste, nihil laudantium libero quam assumenda suscipit voluptatum veritatis mollitia, ab modi dolor. Suscipit ex autem voluptatem recusandae iure?</p>
</div>
<div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
</div>
</div>

<div id="error_modal" class="modal">
<div class="modal-content">
    <h4>Form Validation Error</h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo similique a iste, nihil laudantium libero quam assumenda suscipit voluptatum veritatis mollitia, ab modi dolor. Suscipit ex autem voluptatem recusandae iure?</p>
</div>
<div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
</div>
</div>

<div id="success_modal" class="modal">
<div class="modal-content">
    <h4>You Have Successfuly Registered</h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo similique a iste, nihil laudantium libero quam assumenda suscipit voluptatum veritatis mollitia, ab modi dolor. Suscipit ex autem voluptatem recusandae iure?</p>
</div>
<div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
</div>
</div>