@font-face {
    font-family: IMSummit;
    src: url('../font/Core-Circus.otf');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: IMSummit;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    margin-top: 0.5em;
}

* {
    font-family: 'Lato', sans-serif;
}

#form {
    padding-top: 1em;
}

#content,
#text {
    padding: 0;
}

.input-field {
    margin: 0;
}

#landing,
/* #about, */
#dates,
#reg {
    height: 100vh;
    /* border: 1px black solid; */
}

/* #about{
    border: 1px black solid;
} */

#landing>* {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about>* {
    position: relative;
    /* top: 20%; */
    left: 50%;
    transform: translate(-50%, -50%);
}

#dates>div {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#reg>#reg-before {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#reg>.container {
    position: relative;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}